VITE_API_URL=
VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=
VITE_QZ_TRAY_SCRIPT_URL=
VITE_QZ_SIGNATURE_ALGORITHM=SHA512
VITE_QZ_REMOTE_ENABLED=false
VITE_QZ_REMOTE_HOST=
VITE_QZ_REMOTE_PORT=8182
VITE_QZ_REMOTE_ANDROID_ONLY=true
