/* src/index.css */
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

/* IMPORTANTE: Esto elimina los márgenes por defecto y fuerza pantalla completa */
body {
  margin: 0;
  padding: 0;
  min-width: 100vw;
  min-height: 100vh;
  background-color: #121212; /* Fondo de seguridad */
}

/* El contenedor de React también debe ocupar todo el espacio */
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: block; /* Vite suele ponerlo como flex/grid, cámbialo a block */
}